

function main
push const "hola que tal\nYo\tmuy bien\n"
pop cad1
push const "Prueba ahora a escribir una cadena:\n"
pop cad2

#abro y escribo el fichero
push const "out"
pop out
push const "in"
pop in

open out
pop fdo
open in
pop fdi

push sim cad1
write fdo
push sim cad2
write fdo
read fdi string
pop cad3

close fdo
